#movies {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: #080808;
}

#movies-wrapper {
    max-width: 100%;
    height: auto;
    margin: 5% 0;
    padding: 5%;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.movie-card-link {
    position: relative;
    display: block;
    height: auto;
    flex: 0 1 auto;
    font-size: .8em;
    transition: 500ms ease-in-out;
}

.movie-card {
    transition: all 500ms;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-img {
    width: 100%;
    height: 75%;
    padding-top: 1.5%;
    background-color: #ff2901;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.movie-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.movie-info {
    height: auto;
    overflow: auto;
    padding: 0 5%;
    color: #fff;
}

.movie-info p {
    display: flex;
    justify-content: space-between;
}

fa-icon {
    cursor: pointer;
    color: #fff;
}

fa-icon:hover {
    color: #ff2901;
}

@media screen and (min-width: 320px) {
    .movie-card-link {
        width: 250px;
        margin: 20px 10px;
    }
}

@media screen and (min-width: 700px) {
    .movie-card-link {
        width: 80px;
        margin: 20px 10px;
    }
}

@media screen and (min-width: 701px) {
    .movie-card-link {
        width: 200px;
        margin: 30px 20px;
    }
}