nav{
    position:fixed;
    width: 100%;
    height: 8vh;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #040707;
    color: #fff;
    font-family: 'Roboto';
    z-index: 2;
}

#left{
    display: flex;
    align-items: center;
}

#logo{
    font-size: 3em;
}

.min{
    color: #ff2901;
}
.flix{
    color: #fff;
}
#mini, #full{
    color: #3b3c36;
}

form[name=search]{
    width: 30vw;
    height: 4vh;
    margin: 0 5%;
    overflow: hidden;
    background-color: #3b3c36;
    display: flex;
    align-items: center;
    font-size: .8em;
    justify-content: space-around;
    border-radius: 20px;
}

input[type=text]{
    width: 90%;
    height: inherit;
    padding: 0 10px;
    background-color: inherit;
    border: none;
    color: #fff;
    transition: 700ms ease;
}

input[type=text]:focus{
    background-color: #ff2901;
}

::placeholder{
    color: #fff;
}
:focus{
    outline: none;
}

fa-icon:hover{
    color:#ff2901;
    cursor: pointer;
}

button[type=submit]{
    height:1.8em;
    color: #fff;
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 320px){
    #full{
        display: none;
    }
    #mini{
        display: block;
    }
    input[type=text]{
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px){
    #mini{
        display: none;
    }
    #full{
        display: block;
    }
    input[type=text]{
        font-size:1.2em; 
    }
}