<nav>
    <div id="left">
        <div id="logo">
            <div id="full">
                <a routerLink="/home" class="home-link">
                    <span class="max">min</span>|<span class="flix">Flix</span>
                </a>
            </div>
            <div id="mini">
                <a routerLink="/home">
                    <span class="min">m</span>|<span class="flix">F</span>
                </a>
            </div>
        </div>
        <!-- <form action="" name="search" id="search" [formGroup]="search">
            <input type="text" name="movieSearch" id="searchButton" placeholder="Search Movie Title" formControlName="title">
            <button type="submit" id="search-btn" class="btn">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </form> -->
    </div>
    <!-- <a routerLink="/favourite" routerLinkActive="active">
        <fa-icon [icon]="faHeart" size="2x"></fa-icon>
    </a> -->
    <a routerLink="/signin" routerLinkActive="active" id="signin-link">
        <span>SignIn</span> &nbsp;&nbsp;
        <fa-icon [icon]="faSignIn"></fa-icon>
    </a>
</nav>