<nav>
    <div id="left">
        <div id="logo">
            <div id="full">
                <span class="min">min</span>|<span class="flix">Flix</span>
            </div>
            <div id="mini">
                <span class="min">m</span>|<span class="flix">F</span>
            </div>
        </div>
        <form action="" name="search" id="search">
            <input type="text" name="movieSearch" id="searchBox" placeholder="Search Movie Title">
            <button type="submit" id="search-btn" class="btn">
                <fa-icon [icon]="faSearch" size="2x"></fa-icon>
            </button>
        </form>
    </div>
    <fa-icon [icon]="faBookmark" size="2x"></fa-icon>
</nav>
