<main>
    <div id="background" [style.background-image]="'url(http://image.tmdb.org/t/p/w780/' + movieDetails.backdrop_path + ')'" [style.background-size]="'cover'">
        <section class="movie_info">
            <div class="img_content">
                <img src="http://image.tmdb.org/t/p/w780/{{movieDetails.poster_path}}" alt="Poster image for {{movieDetails.original_title}}">
            </div>
            <div class="movie_info_content">
                <h2>{{movieDetails.title}} ({{movieDetails.release_date |date: 'yyyy' }})</h2>
                <h3>Overview</h3>
                <p>{{movieDetails.overview}}</p>
                <div class="features">
                    <div class="feature">
                        Runtime: {{movieDetails.runtime}} mins
                    </div>

                    <circle-progress class="feature" [percent]="vote" [outerStrokeColor]="'#FF2901'" [innerStrokeColor]="'#2F2F31'" [animation]="true" [animationDuration]="1000" [subtitle]="'Score'" [showSubtitle]="true" [animationDuration]="300">
                    </circle-progress>
                    <div class="feature">
                        Budget: {{movieDetails.budget | currency: 'USD':'symbol-narrow':'4.2-2' }}
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>