<div class="form-body">
    <div class="form-wrapper">
        <form *ngIf="signUpForm" [formGroup]="signUpForm" id="signup" name="signup">
            <h2 class="form-title">Create an Account</h2>
<!--             <label for="name">Full Name</label>
            
            <input type="text" name="name" id="name" class="form-element" formControlName="name" required>
            <span class="error" *ngFor="let message of signUpForm.controls.name['errorMessages']">{{message}}</span> -->

            <label for="mail">Email Address</label>
            <input type="email" name="mail" id="mail" class="form-element" formControlName="mail" required>
            <span class="error" *ngFor="let message of signUpForm.controls.mail['errorMessages']">{{message}}</span>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-element" formControlName="password" required>
            <span class="error" *ngIf="signUpForm.controls.password.errors">{{signUpForm.controls.password["errorMessage"]}}</span>

            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" class="form-element" formControlName="confirmPassword">
            <span class="error" *ngIf="signUpForm.controls.confirmPassword.errors">{{signUpForm.controls.confirmPassword["errorMessage"]}}</span>
            <input type="submit" [disabled]="!signUpForm.valid" value="Sign In" class="form-element form-button"/>
        </form>
    </div>
</div>